
<h1><%= @user.name %>のページ</h1>
<div class="show_page">
  <p>メールアドレス: <%= @user.email %></p>
  <%= link_to "一覧画面にもどる", pictures_path %>
  <%= image_tag @user.image.url if @user.image && @user.image.url %>
  <% if current_user.id == @user.id %>
    <%= link_to "編集画面", edit_user_path(@user.id) %>
  <% end %>
  <%= link_to "favoriteを表示", favorites_path(@user.id) %>
</div>
